body { margin: 0; font-family: 'Inter', sans-serif; overflow: hidden; background: #000; }
#mapid { height: 100vh; width: 100vw; position: absolute; top:0; left:0; z-index: 1; }
.ui-container { position: absolute; top: 20px; left: 20px; z-index: 1000; display: flex; flex-direction: column; gap: 10px; width: 250px; }
.glass-card { background: rgba(255, 255, 255, 0.9); padding: 15px; border-radius: 15px; box-shadow: 0 4px 15px rgba(0,0,0,0.3); }
header h1 { font-size: 1rem; margin: 0; font-weight: 800; color: #000; text-transform: uppercase; }
.layer-item { display: flex; align-items: center; gap: 8px; font-size: 0.8rem; margin-bottom: 5px; font-weight: 600; }
.sub-layer { margin-left: 15px; font-size: 0.75rem; color: #444; }
.custom-placename-label span {
    color: white; font-weight: 700; white-space: nowrap; pointer-events: none;
    text-shadow: 0px 0px 4px #000, 0px 0px 8px #000;
}
.leaflet-tooltip-pane { display: none !important; }
